{% extends "app/base.twig" %}
{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 mt-2">
                <div class="col-md-9">
                    {{ breakcrum('Routing','Sửa',app.record.name)|raw }}
                </div>
                <div class="col-md-3 text-left text-md-right mt-2 mt-md-0">
                    <a href="{{ base_url }}/admin/routing/{{ app.record.id }}" class="btn btn-outline-danger">{{ lang('LBL_CANCEL') }}</a>
                    <button type="button" onclick="formOnSubmit('{{ base_url }}/admin/routing/{{ app.record.id }}/save')" class="btn btn-primary">{{ lang('SAVE') }}</button>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ lang('LBL_GENERAL_INFO') }}</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% include  'app/fields/text/form.twig' with {'name':'name','def':app.db.def.routing.name,'required':1,'value':app.record.name} only %}
                        {% include  'app/fields/text/form.twig' with {'name':'target','def':app.db.def.routing.target,'required':1,'value':app.record.target} only %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}