{% extends "app/base.twig" %}
{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 mt-2">
                <div class="col-md-9">
                    {{ breakcrum('Routing')|raw }}
                </div>
                <div class="col-md-3 text-left text-md-right mt-2 mt-md-0">
                    <div class="btn-group">
                        <a href="{{ base_url }}/admin/routing/layout/create" type="button" class="btn btn-primary btn-flat">Create</a>
                        <button type="button" class="btn btn-primary btn-flat dropdown-toggle dropdown-icon" data-toggle="dropdown" style="z-index: 99">
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-md-left" role="menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body p-0 table-responsive">
                    <table class="table table-hover ">
                        <thead>
                        <tr>
                            <th style="width: 80px;text-align: center;border-right:solid 1px #acacac">#</th>
                            <th>Maping regex</th>
                            <th>Target</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for record in app.records %}
                            <tr>
                                <td style="text-align: center;border-right:solid 1px #acacac;padding-left:3px">
                                    <div class="icheck-primary d-inline">
                                        <input type="checkbox" class="record-checkbox" id="{{ record.id }}">
                                        <label for="{{ record.id }}"></label>
                                    </div>
                                    <a href="{{ base_url }}/admin/routing/{{ record.id }}/edit">
                                        <span class="fal fa-pencil" style="color: #acacac"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ base_url }}/admin/routing/{{ record.id }}">
                                        {{ vfield_text('name',record.name)|raw }}
                                    </a>
                                </td>
                                <td>
                                    {{ vfield_text('target',record.target)|raw }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="col-sm-12">
                        <div class="btn-group" style="margin-left:-15px;">
                            <button type="button" class="btn btn-default btn-flat">
                                <div class="icheck-primary d-inline">
                                    <input type="checkbox" id="select-all-record-list-view">
                                    <label for="select-all-record-list-view"></label>
                                </div>
                            </button>
                            <button type="button" class="btn btn-default btn-flat dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                <div class="dropdown-menu" role="menu">
                                    <a class="dropdown-item" onclick="deleteRecords('routing')">Delete</a>
                                </div>
                            </button>
                        </div>
                        {{ pagination()|raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}