{% extends "app/base.twig" %}
{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 mt-2">
                <div class="col-md-9">
                    {{ breakcrum('admin',lang('LBL_CREATE_MODULE'))|raw }}
                </div>
                <div class="col-md-3 text-left text-md-right mt-2 mt-md-0">
                    <a href="{{ base_url }}/admin/settings" class="btn btn-outline-danger">{{ lang('LBL_CANCEL') }}</a>
                    <button type="button" onclick="formOnSubmit('{{ base_url }}/admin/admin/layout/save_createmodule')" class="btn btn-primary">Tạo</button>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ lang('LBL_GENERAL_INFO') }}</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label text-sm-left text-md-right">module name (*)</label>
                                <div class="col-md-10">
                                    {{ ffield_text('module_name','','required')|raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}