{% extends "app/base.twig" %}
{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 mt-2">
                <div class="col-md-9">
                    {{ breakcrum('admin','Cài đặt email')|raw }}
                </div>
                <div class="col-md-3 text-left text-md-right mt-2 mt-md-0">
                    <a href="{{ base_url }}/admin/settings" class="btn btn-outline-danger">{{ lang('LBL_BACK') }}</a>
                    <button type="button" onclick="formOnSubmit('{{ base_url }}/admin/settings/email/save')" class="btn btn-primary">{{ lang('SAVE') }}</button>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ lang('LBL_GENERAL_INFO') }}</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-sm-left text-md-right">SMTP server</label>
                                <div class="col-md-8">
                                    {{ ffield_text('mailer_host',app.settings.mailer_host)|raw }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-sm-left text-md-right">From</label>
                                <div class="col-md-8">
                                    {{ ffield_text('mailer_from',app.settings.mailer_from)|raw }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-sm-left text-md-right">From name</label>
                                <div class="col-md-8">
                                    {{ ffield_text('mailer_fromname',app.settings.mailer_fromname)|raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-sm-left text-md-right">Reply to</label>
                                <div class="col-md-8">
                                    {{ ffield_text('mailer_replyto',app.settings.mailer_replyto)|raw }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-sm-left text-md-right">Reply to name</label>
                                <div class="col-md-8">
                                    {{ ffield_text('mailer_replytoname',app.settings.mailer_replytoname)|raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-sm-left text-md-right">Secure type</label>
                                <div class="col-md-8">
                                    {{ ffield_text('mailer_secure',app.settings.mailer_secure)|raw }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-sm-left text-md-right">Port</label>
                                <div class="col-md-8">
                                    {{ ffield_text('mailer_port',app.settings.mailer_port)|raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-sm-left text-md-right">Username</label>
                                <div class="col-md-8">
                                    {{ ffield_text('mailer_user',app.settings.mailer_user)|raw }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-sm-left text-md-right">Passowrd</label>
                                <div class="col-md-8">
                                    {{ ffield_password('mailer_pass',app.settings.mailer_pass)|raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}