<div class="card-header">
    <div class="input-group">
        <div class="input-group-prepend">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                {{ lang('LBL_FILTER') }}
            </button>
            <ul class="dropdown-menu dropdown-menu-sm" role="menu">
                <li style="cursor: pointer" class="dropdown-item" onclick="clear_filter()">{{ lang('LBL_ALL') }}</li>
                <li data-type="filter-defined" data-id="is_admin" data-display="{{ lang(app.db.def.users.is_admin.label) }}" style="cursor: pointer" class="dropdown-item" onclick="users_filter_is_admin()">{{ lang(app.db.def.users.is_admin.label) }}</li>
            </ul>
        </div>
        <input data-action="filter-search" type="text" class="form-control" value="" placeholder="{{ lang('LBL_SEARCH_BY_NAME') }}" />
        <div class="input-group-append">
            <button class="btn btn-default filter-search-button"  onclick="users_filter_search()" type="button"><i class="fal fa-search"></i></button>
        </div>
    </div>
</div>